@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

/* Front Page */
.heroSection {
  min-height: 250px;
  padding-top: 3rem;
}

.heroSection h1 {
  font-family: 'Trirong', serif;
  font-size: 4rem;
  color: goldenrod;
  text-align: center;
  font-weight: 600;
  letter-spacing: .03em;
}

.heroSection p {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  margin-top: 1rem;
}

#frontImg {
  width: 400px;
  height: auto;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}